header{
	border-bottom:10px solid rgb(27, 111, 221);
	padding-bottom: 30px;
}

#main-head{
  float: left;
	font-size: 70px;
	color: white;
	font-family: "Lato", sans-serif;
}

.pinpoint-logo{
	margin-top: 45px;
	margin-left: 20px;
	width: 50px;
	height: 50px;
	background-color: white;
	padding: 20px;
	border-radius: 30%;
}

body {
	background:rgb(37,37,37);
	color: white;
}

body img{
	width: 300px;
	height: 200px;
}

#grid{
	position: absolute;
	margin-right: 5%;
	margin-left: 5%;
}

.video-card {
  float: left;
  margin: 50px;
  width: 300px;
  height: 200px;
}

.about-card{
	float: left;
  margin: 50px;
  width: 300px;
  height: 200px;
 	border: 1px solid rgb(27, 111, 221);
}


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 300px;
	height: 200px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	text-align: center;
	transform: rotateY(180deg);
	border: 20px solid rgb(27, 111, 221);
  background-color: white;
	height: 180px;
	width: 280px;
}

.back, a{
	color: black;
	text-decoration: none;
}

.count-p{
	margin: 0 auto;
	border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: rgb(27, 111, 221);
  text-align: center;
  font: 30px "Lato", sans-serif;
  color: white;
}