@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url('chrome-extension://negjnnajhifciokpibadgajnmkopbonp/fonts/Lato-Hairline.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

.pinpoint-body {
  margin:0;
  background:rgb(37,37,37);
  font-family: "Lato", sans-serif;
  color: white;
  height: 27em;
  width:16em;
}

.link{
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/*** Title section ***/
.pinpoint-section {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
  color: white;
  font-size: 2em;

}
.pinpoint-title {
  /*float:left;*/
  background: rgb(27, 111, 221);

}
.pinpoint-title-bar {
  padding-top: 3.8em;
}

.fa {
  color: white;
}

/*** Dropdown Menu Bar ****/
.pinpoint-section .pinpoint-nav-icons li {
  display: block;
  float: left;
}

.pinpoint-nav-icons {
  padding-left: 3.4em;
}

.pinpoint-drop-down {
  position: absolute;
  /*display: none;*/
  opacity: 0;
  /*visibility: hidden;*/
  font-size: .7em;
  margin-left: -4em;
}

.pinpoint-drop-down li {
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  /*border-top: 5px solid transparent;*/
}

.pinpoint-drop-down li:hover { background: #666; }

li:hover .pinpoint-drop-down {
  display: block;
  opacity: 1;
  /*visibility: visible;*/
}

/**** Sidebar ****/

.pinpoint-timelink {
    margin-left:.39em;
    border-bottom: 3px solid transparent;
    /*transition: 0.7s ease;*/
    /*width: 0px;*/
    /*white-space: nowrap;*/
    color: white;
    text-decoration: none;
}

.pinpoint-timelink:hover {
  text-decoration: none;
  color: grey;
}

.pinpoint-note {
  position: relative;
  padding-bottom: 13px;
  height:auto;
  overflow:hidden;
}

.pinpoint-note-input {
  width: 15.6em;
  height: 2em;
}

.pinpoint-content {
  width: 110px;
  word-wrap: break-word;
  position: relative;
  display: inline-block;
  margin-left: 5.25em;
  margin-top: .70em;
}

.pinpoint-contentlink {
  color: white;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.pinpoint-contentlink:hover {
  color: grey;
  text-decoration: none;
}

.pinpoint-time-and-delete {
  display: inline-block;
  position: absolute;
  right: 100px;
  top: 1px;
  left: 1px;
  margin-top: 0.6em;
}

#save {
  display: none;
}

/*Outer Div Containing The All-Notes Div*/
.pinpoint-sideBar {
  height: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 16em;
  overflow: auto;
  border: 2px solid;

}

.pinpoint-notes-container {
  margin-top: 1em;
}

.pinpoint-note:nth-child(odd) {
  background-color: rgb(48, 48, 48);
  display: block;
}

/*** Sidebar Delete button ***/

.pinpoint-delete {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 1em;
  margin-left: .45em;
}

.pinpoint-delete:hover {
  color: red;
}

/*** Sidebar Save button (hidden) ***/
.pinpoint-save {
  display:none;
}



