/*** Pop Up***/
body {
  margin:0;
  background:rgb(37,37,37);
  font-family: "Lato", sans-serif;
  color: white;
}

hr{
  width: 85%;
  border-top:1px solid rgb(38, 38, 38);
  border-bottom:1px solid rgb(28, 28, 28);
}

a, .link{
  text-decoration: none;
  color: white;
}


/*** Title section ***/
section {
  list-style: none;
  margin-bottom: 0 ;
  padding:.2em;
}
li {
  display: inline-block;
  padding-right: 10px;
}
#title {
  padding-right: 1.7em;
  font-size: 1.4em;

}
section {
  color: white;
  background: rgb(27, 111, 221);
  text-align: center;
  font-size: 2em;
}

.fa {
  color: white;
}

#notes-icon {
  text-align: center;
  display: block;
}

/*** Dropdown Menu Bar ****/
#drop-down {
  position: absolute;
  right: 0;
  display: none;
  opacity: 0;
  visibility: hidden;
  font-size: .7em;
}

#drop-down li {
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  padding:.2em;
}

#drop-down li:hover { background: #666; }

li:hover #drop-down {
  display: block;
  opacity: 1;
  visibility: visible;
}

/**** Sidebar Table ****/

.pinpoint-timelink {
    margin-right:.5em;
    border-bottom: 3px solid transparent;
    transition: 0.7s ease;
    width: 0px;
    white-space: nowrap;
}

.pinpoint-timelink:hover {
  /*text-decoration: none;*/
  /*border-bottom: 1px solid rgb(56, 249, 3);*/
  /*width:20%;*/
}

/***Div Containing Notes Table***/
.pinpoint-all-notes {
  /*font-size: 1em;*/
  height: 13.9em;
  font-size: 1.2em;
  width: 10em;
  /*overflow: auto;*/
  margin-top: 1em;
}

/*****Sidebar Note Form*****/
/*#note {
  margin-top: 0;
  width:100%;
  height: 5em;
  background-color: transparent;
  border: 1px;
  font-size: 1.5em;
}*/

.pinpoint-note {
  position: relative;
}

.pinpoint-note-input {
  width: 11.27em;
}

.pinpoint-content {
  width: 100%;
  word-wrap: break-word;
  /*position: absolute;*/
  /*left: 4.3em;*/
  display: inline-block;
}

.pinpoint-time-and-delete {
  display: inline-block;
  position: absolute;
  /*left: 1.5em;*/
}


#save {
  display: none;
  /*border-top: 1px;
  padding: 1em;
  color: white;
  font-size: 1.4em;
  background: rgb(27, 111, 221);
  text-decoration: none;
  vertical-align: middle;
  width: 100%;*/
}
#save:hover {
  /*color: rgb(27, 111, 221);*/
}

/*Outer Div Containing The All-Notes Div*/
.pinpoint-sidebar {
  height: 19.5em;
  width: 11.78em;
  /*overflow: auto;*/
}

/*** Sidebar Delete button ***/
.pinpoint-delete{
  font-size: .1em;
  text-decoration: none;
  color: black;
  background-color: silver;
  padding: 2px;
  border-radius: 20px;
  opacity: .5;
  /*position: absolute;*/
  left: -8.5em;
  top: 3em;
}

.delete:hover {
  background-color: red;
}

/*::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}*/
/**/
