.pinpoint-body {
  margin:0;
  background:rgb(37,37,37);
  font-family: "Lato", sans-serif;
  color: white;
  height: 27em;
  width:16em;
}

a, .link{
  text-decoration: none;
  color: white;
}

/*** Title section ***/
.pinpoint-section {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
  color: white;
  font-size: 2em;

}
.pinpoint-title {
  /*float:left;*/
  background: rgb(27, 111, 221);

}
.pinpoint-title-bar {
  padding-top: 3.8em;
}

.fa {
  color: white;
}

/*** Dropdown Menu Bar ****/
.pinpoint-section .pinpoint-nav-icons li {
  display: block;
  float: left;
}

.pinpoint-nav-icons {
  padding-left: 3.4em;
}

.pinpoint-drop-down {
  position: absolute;
  display: none;
  opacity: 0;
  visibility: hidden;
  font-size: .7em;
  margin-left: -4em;
}

.pinpoint-drop-down li {
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  /*border-top: 5px solid transparent;*/
}

.pinpoint-drop-down li:hover { background: #666; }

li:hover .pinpoint-drop-down {
  display: block;
  opacity: 1;
  visibility: visible;
}

/**** Sidebar ****/

.pinpoint-timelink {
    margin-right:.5em;
    border-bottom: 3px solid transparent;
    transition: 0.7s ease;
    width: 0px;
    white-space: nowrap;
}

.pinpoint-content {
  margin-left: 1.2em;
}

.pinpoint-time {
  border-bottom: 3px solid transparent;
  transition: 0.7s ease;
  width: 0px;
  white-space: nowrap;
}

.pinpoint-time:hover {
  border-bottom: 1px solid rgb(56, 249, 3);
  width:20%;
}

tr:nth-child(odd) {
  background-color:rgb(48, 48, 48);

.pinpoint-timelink:hover {
  /*text-decoration: none;*/
  /*border-bottom: 1px solid rgb(56, 249, 3);*/
  /*width:20%;*/
}

/***Div Containing Notes ***/
.pinpoint-all-notes {
  /*font-size: 1em;*/
  height: 13.9em;
  font-size: 1.2em;
  width: 10em;
  /*overflow: auto;*/
  margin-top: 1em;
}
/*****Sidebar Note Form*****/

.pinpoint-note {
  position: relative;
  height:auto;
  overflow:hidden;
}

.pinpoint-note-input {
  width: 11.27em;
}

.pinpoint-content {
  width: 110px;
  word-wrap: break-word;
  position: relative;
  display: inline-block;
  margin-left: 50px;
}

.pinpoint-time-and-delete {
  display: inline-block;
  position: absolute;
  right: 100px;
  top: 1px;
  left: 1px;
  /*left: 1.5em;*/
}


#save {
  display: none;
  padding: 1em;
}

/*Outer Div Containing The All-Notes Div*/
.pinpoint-sidebar {
  height: 19.5em;
  width: 13em;
  /*overflow: auto;*/
}

/*** Sidebar Delete button ***/
.pinpoint-delete{
  font-size: .1em;
  text-decoration: none;
  color: black;
  background-color: silver;
  padding: 2px;
  border-radius: 20px;
  opacity: .5;
  /*position: absolute;*/
  left: -8.5em;
  top: 3em;
}

.delete:hover {
  background-color: red;
}


