div {
    max-width: 475px;
    max-height: 145px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    overflow: auto;
}

html {
		max-height: 300px;
}

input {
    width: 400px;
}

#save {
    width: auto;
}
