/*html  {
  width: 20em;
  height: 25em;
}*/

#create {
  margin-left: 8.5em;
}

#save {
  margin-left: 9.5em;
}

#all-notes {
  width: 20em;
  max-height: 25em;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  overflow: auto;
  margin-top: 1em;
}

input {
  /*width: 24em;*/
}

#save {
  /*width: auto;*/
}

#add-note {
  display: none;
}

table tr td {
  padding: 1em;
  border-top: 2px solid black;
}

table tr:hover {
  background-color: #fe5757;
  opacity: 0.7
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

.note_content {
  word-wrap: break-word;
  max-width: 12em;
}



