a {
  text-decoration: none;
  color: white;
}

.fa {
  color: white;
}

button {
  border: none;
  box-shadow: none;
  padding: 7px 19px 7px 19px;
  color: white;
}

#on {
  background-color: rgb(36, 228, 36);
}

#off {
  background-color: rgb(239, 8, 8);
}
.pinpoint-body {
  margin:0;
  background-size: 180%;
  background-image: url("../map-pinpoint.png");
  font-family: "Lato", sans-serif;
  color: white;
  height: 27em;
  width:16em;
}


/*** Title section ***/
.pinpoint-section {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
  color: white;
  font-size: 2em;
}

.pinpoint-logo {
  margin-top: 1em;
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 20px;
  border-radius: 30%;
  opacity: .8;
}

.pinpoint-title {
  background: rgb(27, 111, 221);

}