a {
  text-decoration: none;
  color: white;
}

.fa {
  color: white;
}

.pinpoint-body {
  margin:0;
  background:rgb(37,37,37);
  font-family: "Lato", sans-serif;
  color: white;
  height: 27em;
  width:16em;
}


/*** Title section ***/
.pinpoint-section {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
  color: white;
  font-size: 2em;
}

.pinpoint-logo {
  margin-top: 1em;
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 20px;
  border-radius: 30%;
  opacity: .8;
}

.pinpoint-title {
  background: rgb(27, 111, 221);

}